version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z

  vb-cli:
    build: .
    container_name: vb-cli
    depends_on:
      - qdrant
    volumes:
      - ./data:/data
    entrypoint: ["vb"]
    stdin_open: true
    tty: true
